<launch>

    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>

    <node pkg="raspicam_node" type="raspicam_node" name="raspicam_node" output="screen">
    <!-- Set any desired parameters for the raspicam_node -->
    <param name="width" value="1280"/>
    <param name="height" value="720"/>
    <param name="framerate" value="60"/>
    
    <!-- Add more parameters as needed -->
    </node>

    <node pkg="teleop_twist_keyboard" name="keyboard" type="teleop_twist_keyboard.py" output="screen">
    <remap from="/cmd_vel" to="/cmd_vel"/>
    </node>

</launch>
